@import './project-bootstrap.less';

svg {
  shape-rendering: crispEdges;

  text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

h1 {
  color: @brand-primary;
}
