@import './project-bootstrap.less';

@round-money-color: limegreen;
@round-money-opacity: 0.5;
@round-valuation-color: steelblue;
@round-valuation-opacity: 0.5;

@import './round-details.less';
@import './svg-charts.less';

body {
  position: relative; // needed for scrollspy, allegedly
}
html {
  height: 100%; // some hack that also makes scrollspy work. nooooo idea on this one.... https://github.com/twbs/bootstrap/issues/5007
}


body > header {

  #gradient > .radial(@brand-primary; darken(@brand-primary, 10%));
  padding: 15px;
  margin-bottom: 20px;

  h1 {
    color: white;
  }

  .subtitle {
    color: lighten(@brand-primary, 40%);
    max-width: 605px;
  }
}

h1, h2, h3, h4 {
  color: @brand-primary;
}

#scenarios {
  h1, h2, h3, h4 {
    color: lighten(@brand-primary, 20%);

    &.focus {
      color: @brand-primary
    }
  }

  h1 {
    margin-top: 300px;
  }

  h2 {
    margin-top: 150px;
  }

  margin-bottom: 300px;

}
